.navdeco a {
  font-size: 20px;
  padding: 0px 8px;
  color: #818181;
  font-weight: bold;
}

.navdeco a:hover {
  text-decoration: none;
  color: black;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  font-weight: bold;
}

.sidenav a:hover {
  color: white;
}

.pic {
  margin: 0 auto;
  width: 100px;
  overflow: hidden;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 2rem;
}
